<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Final-Project-Check-in" data-toc-modified-id="Final-Project-Check-in-1">Final Project Check-in</a></span></li><li><span><a href="#Group-Name" data-toc-modified-id="Group-Name-2">Group Name</a></span></li><li><span><a href="#Student-Names" data-toc-modified-id="Student-Names-3">Student Names</a></span></li><li><span><a href="#Load-Data" data-toc-modified-id="Load-Data-4">Load Data</a></span></li><li><span><a href="#Fit-scikit-learn-model" data-toc-modified-id="Fit-scikit-learn-model-5">Fit scikit-learn model</a></span></li><li><span><a href="#Evaluation-Metric" data-toc-modified-id="Evaluation-Metric-6">Evaluation Metric</a></span></li></ul></div>

Final Project Check-in
------

Group Name
-----

 Random_Forest_Elves

Student Names
----

1. Shirley Li
2. Jingxian Li 
3. Michael Schulze
4. Mundy Reimer

Load Data
-----

In [150]:
reset -fs

In [151]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn import metrics

In [152]:
df = pd.read_csv('dream_market_cocaine_listings.csv')

In [153]:
df.head()

,Unnamed: 0,product_title,ships_from_to,grams,quality,btc_price,cost_per_gram,cost_per_gram_pure,escrow,product_link,...,ships_to_SE,ships_from_SE,ships_to_CO,ships_from_CO,ships_to_CN,ships_from_CN,ships_to_PL,ships_from_PL,ships_to_GR,ships_from_GR
0,10,!!!!!INTRO OFFER!!!!! 1GR COCAINE 90%,NL → EU,1.0,90.0,0.02577,0.02577,0.028633,1,http://lchudifyeqm4ldjj.onion/viewProduct?offe...,...,False,False,False,False,False,False,False,False,False,False
1,11,!!!!!INTRO OFFER!!!!! 2GR COCAINE 90%,NL → EU,2.0,90.0,0.05150,0.02575,0.028611,1,http://lchudifyeqm4ldjj.onion/viewProduct?offe...,...,False,False,False,False,False,False,False,False,False,False
2,14,!!!INTRO!!! 0.5G COCAINE 89% - STRAIGHT FROM T...,NL → EU,0.5,89.0,0.01649,0.03298,0.037056,1,http://lchudifyeqm4ldjj.onion/viewProduct?offe...,...,False,False,False,False,False,False,False,False,False,False
3,20,!1G! C O L O M B I A N C O C A I N E - 89% PURITY,FR → EU,1.0,89.0,0.04120,0.04120,0.046292,1,http://lchudifyeqm4ldjj.onion/viewProduct?offe...,...,False,False,False,False,False,False,False,False,False,False
4,41,** 1 Gram 87% Pure Uncut Colombian Cocaine **,NL → WW,1.0,87.0,0.03400,0.03400,0.039080,1,http://lchudifyeqm4ldjj.onion/viewProduct?offe...,...,False,False,False,False,False,False,False,False,False,False

In [154]:
df.columns

Index(['Unnamed: 0', 'product_title', 'ships_from_to', 'grams', 'quality',
       'btc_price', 'cost_per_gram', 'cost_per_gram_pure', 'escrow',
       'product_link', 'vendor_link', 'vendor_name', 'successful_transactions',
       'rating', 'ships_from', 'ships_to', 'ships_to_US', 'ships_from_US',
       'ships_to_NL', 'ships_from_NL', 'ships_to_FR', 'ships_from_FR',
       'ships_to_GB', 'ships_from_GB', 'ships_to_CA', 'ships_from_CA',
       'ships_to_DE', 'ships_from_DE', 'ships_to_AU', 'ships_from_AU',
       'ships_to_EU', 'ships_from_EU', 'ships_to_ES', 'ships_from_ES',
       'ships_to_N. America', 'ships_from_N. America', 'ships_to_BE',
       'ships_from_BE', 'ships_to_WW', 'ships_from_WW', 'ships_to_SI',
       'ships_from_SI', 'ships_to_IT', 'ships_from_IT', 'ships_to_DK',
       'ships_from_DK', 'ships_to_S. America', 'ships_from_S. America',
       'ships_to_CH', 'ships_from_CH', 'ships_to_BR', 'ships_from_BR',
       'ships_to_CZ', 'ships_from_CZ', 'ships_to_SE', 'ships_from_SE',
       'ships_to_CO', 'ships_from_CO', 'ships_to_CN', 'ships_from_CN',
       'ships_to_PL', 'ships_from_PL', 'ships_to_GR', 'ships_from_GR'],
      dtype='object')

In [155]:
# Cleaning Data

# Drop columns w/ strings (both product_title & product_link)
cleaned_df = df.drop(['Unnamed: 0','product_title','product_link','ships_from_to','ships_to'
                      ,'ships_from','vendor_link','vendor_name'], axis=1)

# Convert True/False values to 1s/0s
cleaned_df = cleaned_df*1

In [156]:
cleaned_df

,grams,quality,btc_price,cost_per_gram,cost_per_gram_pure,escrow,successful_transactions,rating,ships_to_US,ships_from_US,...,ships_to_SE,ships_from_SE,ships_to_CO,ships_from_CO,ships_to_CN,ships_from_CN,ships_to_PL,ships_from_PL,ships_to_GR,ships_from_GR
0,1.0,90.0,0.02577,0.02577,0.028633,1,90,4.63,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,90.0,0.05150,0.02575,0.028611,1,90,4.63,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.5,89.0,0.01649,0.03298,0.037056,1,620,4.94,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,89.0,0.04120,0.04120,0.046292,1,15,5.00,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,87.0,0.03400,0.03400,0.039080,1,28,4.78,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499,3000.0,92.0,43.20000,0.01440,0.015652,0,360,4.86,1,0,...,0,0,0,0,0,0,0,0,0,0
1500,500.0,92.0,9.27000,0.01854,0.020152,0,360,4.86,1,0,...,0,0,0,0,0,0,0,0,0,0
1501,50.0,92.0,1.10800,0.02216,0.024087,0,360,4.86,1,0,...,0,0,0,0,0,0,0,0,0,0
1502,5.0,92.0,0.12360,0.02472,0.026870,0,360,4.86,1,0,...,0,0,0,0,0,0,0,0,0,0
1503,750.0,92.0,12.75000,0.01700,0.018478,0,360,4.86,1,0,...,0,0,0,0,0,0,0,0,0,0

In [157]:
# Feature engineering & dropping irrelevant features

cleaned_df = cleaned_df.drop(['cost_per_gram','cost_per_gram_pure'], axis=1)

In [158]:
# Grabbing y's
y = cleaned_df.btc_price

# Dropping the y column from original dataframe
cleaned_df = cleaned_df.drop("btc_price", axis=1)

In [159]:
# Split data
X_train, X_test, y_train, y_test = train_test_split(cleaned_df, y, test_size=0.2, random_state=42)

Fit scikit-learn model
----

In [160]:
# Fit simple LR
lm = LinearRegression() # Instantiate model
lm.fit(X_train, y_train) # Train model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Evaluation Metric
----

In [161]:
medae_value = metrics.median_absolute_error(y_train, lm.predict(X_train))
print(f"{medae_value:.4f} medae on training set")

0.1276 medae on training set

In [162]:
lm.score(X_test,y_test)

0.8064435883097785